{% extends 'layout/base.html' %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ titulo }}</title>
    <script src="https://code.highcharts.com/highcharts.js"></script>
  </head>
  {% block content %}
  <body>
    <main class="container py-3 my-3">
      <section class="card card-body">

        <!-- Formulario para seleccionar Mes y Año -->
        <form method="GET" action="{% url 'ver_gastos_mensuales' %}" class="form-inline mb-3 d-flex justify-content-left">
          <div class="form-group mr-2">
            <label for="mes" class="mr-2">Mes:</label>
            <select name="mes" id="mes" class="form-control">
              {% for numero, nombre in months.items %}
                <option value="{{ numero }}" {% if numero == selected_month %}selected{% endif %}>
                  {{ nombre }}
                </option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group mr-2">
            <label for="ano" class="mr-2 mx-2">Año:</label>
            <select name="ano" id="ano" class="form-control mx-2">
              {% for ano in available_years %}
                <option value="{{ ano }}" {% if ano == selected_year %}selected{% endif %}>
                  {{ ano }}
                </option>
              {% endfor %}
            </select>
          </div>
          <button type="submit" class="btn btn-primary mx-3">Buscar</button>
        </form>
        <!-- Fin del Formulario -->

        <div id="container"></div>
      </section>
    </main>
    <script>
      document.addEventListener('DOMContentLoaded', function () {
          Highcharts.chart('container', {
              chart: {
                  type: 'column'
              },
              title: {
                  text: '{{ titulo }}'
              },
              xAxis: {
                  type: 'category',
                  title: {
                      text: 'Día del Mes'
                  },
                  labels: {
                      autoRotation: [-45, -90],
                      style: {
                          fontSize: '13px',
                          fontFamily: 'Verdana, sans-serif'
                      }
                  }
              },
              yAxis: {
                  min: 0,
                  title: {
                      text: 'Valores $'
                  }
              },
              legend: {
                  enabled: false
              },
              tooltip: {
                  pointFormat: 'Valores $: <b>{point.y:.1f}</b>'
              },
              series: [{
                  name: 'Gastos',
                  colorByPoint: true,
                  data: {{ gastos_data|safe }},
                  dataLabels: {
                      enabled: true,
                      rotation: -90,
                      color: '#FFFFFF',
                      inside: true,
                      verticalAlign: 'top',
                      format: '{point.y:.1f}', // una decimal
                      y: 10, // 10 píxeles desde la parte superior
                      style: {
                          fontSize: '13px',
                          fontFamily: 'Verdana, sans-serif'
                      }
                  }
              }]
          });
      });
    </script>
  </body>
</html>
{% endblock %}